.tasks__container {
  width: 100%;
  max-width: 1300px;
  max-height: 500px;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 1%;
  padding: 2px;
  text-align: center;
  transition: 0.3s ;
  
}

.tasks__container h1 {
  background-color: rgba(209, 255, 243, 0.329);
  border-radius: 5px;
  margin-bottom: 5px;
}

.tasks__container li {
  font-size: 30px;
  list-style: none;
  margin-top: 5px;
  box-shadow: 0 1px 2px #333;
  transition: 0.15s;
  margin: 7px;
  background-color: rgba(255, 255, 255, 0.404);
  backdrop-filter: blur(10px);
  border-radius: 10px;
 
}

.tasks__container li:hover {
  scale: 1.03;
  border: none;
}

.tasks__queue {
  padding-bottom: 10px;
 
}

.tasks__development {
  padding-bottom: 10px;
}

.tasks__done {
  padding-bottom: 10px;
}

.create__new__task {
  display: flex;
  position: absolute;
  font-size: 35px;
  left: 23%;
  top: 15%;
  background-color: #32d4ad;
  border-radius: 5px;
  text-align: center;
  padding: 0 5px 0 5px;
  margin: 3px;
}
.create__new__task:hover{
  animation-duration: 0.8s;
  animation-name: shake;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate(1deg);
  }

  20%,
  40%,
  60%,
  80%,
  100% {
    transform: rotate(-1deg);
  }
}

.create__new__task__btn {
position: absolute;
opacity: 0;
height: 0;
width: 0;
}

.tasks__container ::-webkit-scrollbar {
  width: 0;
}
.t__scroll{
  overflow: scroll;
  max-height: 400px;
}
.tasks__queue__container,
.tasks__development__container,
.tasks__done__container {
  max-height: 500px;
  height: fit-content;
  box-shadow: 1px 2px 5px #333;
  border-radius: 5px;
  transition: height 0.3s linear;
}
.tasks__queue__container {
  background: linear-gradient(
    90deg,
    rgba(0, 236, 225, 0.5) 0%,
    rgba(11, 93, 252, 0.5) 100%
  );
  
 
}
.tasks__development__container {
  background: linear-gradient(
    90deg,
    rgba(11, 93, 252, 0.5) 0%,
    rgba(144, 17, 242, 0.5) 100%
  );
}
.tasks__done__container {
  background: linear-gradient(
    90deg,
    rgba(144, 17, 242, 0.5) 0%,
    rgba(5, 255, 135, 0.5) 100%
  );
}
.rush{
  background: linear-gradient(225deg, rgba(245, 102, 114, 0.815)0%, rgba(255, 255, 255, 0.0)40%,rgba(255, 255, 255, 0.0)100%);
}
.chill{
  background: linear-gradient(225deg, rgba(25, 230, 144, 0.616)0%, rgba(255, 255, 255, 0.0)40%,rgba(255, 255, 255, 0.0)100%);
}
.none{
  background: transparent;
}

.hide__placeholder{
  opacity: 0;
}
.icon__edit{
  height: 35px;
  z-index: 5;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 15%;
  top: 47.5%;
  transition: 0.3s;
  
}
.icon__remove{
  height: 30px;
  z-index: 5;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 5%;
  top: 50%;
  transition: 0.3s;
}
.icon__edit:hover,
.icon__remove:hover{
  scale: 1.1;
  
}

.select{
  height: 30px;
  z-index: 5;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 2%;
  top: 5%;
  background: none;
  border-radius: 15px;
  outline: transparent;
}

.icon__remove:hover {
  animation-duration: 0.2s;
  animation-name: shaker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 100px;
}

@keyframes shaker {
 
  50% {
    transform: rotate(5deg);
  }


  100% {
    transform: rotate(-5deg);
  }
}
.task__cont{
  position: relative;
}
.creation__date {
  font-size: medium;
  height: 35px;
}

.hide {
  scale: 0;
}

.title__edit{
  background: transparent;
  font-family:'Patrick Hand', 'Arial Narrow';
  font-size: 28px;
  text-align: center;
  cursor: grab;
  border: none;
  outline: none;

}

@media (width < 1000px) {
  .tasks__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    max-height: 650px;
    font-size: 12px;
    
}


.tasks__queue__container {
  background: rgb(0, 236, 225);
  background: linear-gradient(
    180deg,
    rgba(0, 236, 225, 0.5) 0%,
    rgba(11, 93, 252, 0.5) 100%
  );
 
}
.tasks__development__container {
  background: linear-gradient(
    180deg,
    rgba(11, 93, 252, 0.5) 0%,
    rgba(144, 17, 242, 0.5) 100%
  );
}
.tasks__done__container {
  background: linear-gradient(
    180deg,
    rgba(144, 17, 242, 0.5) 0%,
    rgba(5, 255, 135, 0.5) 100%
  );
}

.create__new__task {
  font-size: 25px;
  width: 50%;
  position: relative;
  background-color: #32d4ad;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.create__new__task:hover{
  background-color: #3bc0a16b;
}

.tasks__development__container,
.tasks__queue__container,
.tasks__done__container{
  margin-top: 5px;
  margin-bottom: 5px;
}

}

.search__input{
  width: 200px;
  display: flex;
  margin: 5px auto;
  text-align: center;
  transition: 0.3s linear;

}