.current__task__container{
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    background: rgb(0,236,225);
    background: linear-gradient(137deg, rgba(0,236,225,0.2) 0%, rgba(11,93,252,0.2) 33%, rgba(144,17,242,0.2) 66%, rgba(5,255,135,0.2) 100%);
    border-radius: 20px ;
    box-shadow: 3px 5px 5px #333;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 25px;
}

.title{
    text-align: center;
    padding: 30px;
    font-size: 40px;
}
.discription{
    width: 100%;
    height: auto;
    text-align: top;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment__area{
    max-width: 1000px;
    height: 400px;
    margin: 0 auto;
    
}

button {
    background-color: rgba(34, 46, 46, 0.082);
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 2px 2px rgba(116, 114, 114, 0.432);
    transition: 0.2s linear;
    padding: 5px;
    margin: 10px;
}

button:hover {
    scale: 1.03;
    background-color: rgba(0, 255, 255, 0.267);
}
.sub__tasks button:hover {
    scale: 1.1;
    background-color: rgba(230, 53, 83, 0.267);
}

input {
    background-color: rgba(51, 51, 51, 0.100);
    height: 25px;
    outline: transparent;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: none;
    transition: scale .3s linear;

}

input:hover {
    background: rgb(0,236,225);
    background: linear-gradient(137deg, rgba(0,236,225,0.1) 0%, rgba(11,93,252,0.1) 33%, rgba(144,17,242,0.1) 66%, rgba(5,255,135,0.1) 100%);
    scale: 1.02;
}

li{
    list-style-type: none;
    background-color: rgba(51, 51, 51, 0.02);
    box-shadow: 1px 1px 3px #fff;
    border: 1px solid rgba(100, 54, 173, 0.342);
    border-radius: 10px;
    margin: 2px;
    position: relative;
}


.comment{
    padding: 20px;

}
.comment__1{
    padding: 20px;
}
.comment__2{
    padding: 20px;
}

.sub__tasks{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub__tasks button{
height: 20px;
width: 20px;
overflow: hidden;
font-size: 10px;
 
    
}


.user__icon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: linear-gradient(
        240deg,
        rgba(144, 17, 242, 0.5) 0%,
        rgba(5, 255, 135, 0.5) 100%
      );
      
}

.user__name{
    font-weight: 600;
    font-size: large;
}

.sub__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.sub__container form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sub__checked
{
    text-decoration: line-through;
    background-color: rgba(51, 51, 51, 0.178);
}
